// Abstraction for a list of citations
mixin citations(citations)
  each citation, i in citations
    if i != 0
      | , 
    a(href=citation.externalUrl)
      | #{citation.identifier}

html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title Mutation Report for #{variant.data.mutation} (#{variant.data.shortMutation}) in #{variant.data.gene}

  body

    h2 #{variant.data.gene} #{variant.data.mutation} Characteristics

    if annotation.data.action[0]
      - var action = annotation.data.action[0]

      p
        | The functional consequence of this mutation is: 
        b #{action.type}
        | . 

        if action.comment
          action.comment
          | . 

        if action.citations
          | References:
          +citations(action.citations)

      hr

    else

      p
        | The functional consequence of this mutation is:
        b unknown
        | . 

    h2 #{variant.data.mutation} in #{variant.data.gene} protein domain context

    != chart

    h2 Frequency of #{variant.data.mutation} mutation in #{variant.data.gene} in the top tumour types

    - var variantFrequencies = frequencies.data
    - var frequencyValues = {}
    - variantFrequencies.forEach(function(frequency) { frequencyValues[frequency.type] = frequency.frequency; })
    - var sortedTypes = Object.keys(frequencyValues).sort(function(a, b) { return frequencyValues[b] - frequencyValues[a]; })

    table
      thead
        tr
          th(width="300") Tumour
          th(width="60") Frequency
          th(width="100") Samples
      tbody
        each frequency, i in variantFrequencies
          if frequency.total >= 40
            tr
              td #{frequency.type.site || 'unspecified'} #{frequency.type.hist || 'unspecified'}
              td #{(frequency.frequency * 100).toFixed(2)}%
              td (#{frequency.mutated}/#{frequency.total} samples)

    hr

    if gene.data.sections.description

      h2 #{gene.data.name} - #{gene.data.sections.description.data.fullName}

      if gene.data.sections.description.data.summary

        p #{gene.data.sections.description.data.summary}

      else

        p No summary available

      hr

    h2 Clinical and Preclinical Studies

    if annotation.data.significance && annotation.data.significance.length > 0
      - var significances = annotation.data.significance
      each significance, i in significances
        - var title = significance.identity.join(' ')
        h3
          | #{ title.charAt(0).toUpperCase() + title.slice(1) }
        p
          em
            | In this tumour type, the clinical significance of this mutation has been examined by
            | #{significance.studyType}
            | clinical trials
        p
          | #{significance.comment}
        p
          | References:
          +citations(significance.citations)
          | .
          | Evidence:
          | #{significance.levelOfEvidence}
    else
      p
        | No studies recorded

    hr

    h2 Availability of Investigational Agents

    if annotation.data.agents && annotation.data.agents.length > 0
      - var agents = annotation.data.agents
      if agents.length > 0
        each agent, i in agents
          p
            case agent.sensitivity
              when 'maybe_sensitivity'
                | There may be sensitivity to 
              when 'sensitivity'
                | There is evidence of sensitivity to 
              when 'maybe_resistance'
                | There may be resistance to 
              when 'resistance'
                | There is evidence of resistance to 
              default
                | #{agent.sensitivity} to 
            b #{agent.identity}. 
            if agent.citations && agent.citations.length > 0
              | References:
              +citations(agent.citations)

    else
      p
        | No agents recorded

    hr

