// Abstraction for a list of references
mixin references(references)
  each reference, i in references
    if i != 0
      | , 
    a(href="http://www.ncbi.nlm.nih.gov/pubmed/" + reference.id)
      | #{reference.type}:#{reference.id}

html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title Mutation Report for #{data.mutation} (#{data.shortMutation}) in #{data.gene}

  body

    h2 Gene structure

    != data.chart

    h2 Frequency of #{data.mutation} mutation in #{data.gene} in the top tumour types

    - var frequencies = data.sections.frequencies.data.tumour
    - var frequencyValues = {}
    - frequencies.forEach(function(frequency) { frequencyValues[frequency.tumourTypesRefx.name] = frequency.frequency; })
    - var sortedTypes = Object.keys(frequencyValues).sort(function(a, b) { return frequencyValues[b] - frequencyValues[a]; })

    table
      thead
        tr
          th(width="300") Tumour
          th(width="60") Frequency
          th(width="100") Samples
      tbody
        each frequency, i in frequencies
          tr
            td #{frequency.tumourTypesRefx.name}
            td #{(frequency.frequency * 100).toFixed(2)}%
            td (#{frequency.affected}/#{frequency.total} samples)

    hr

    h2 #{data.gene} #{data.mutation} Characteristics

    if data.sections.clinical
      - var action = data.sections.clinical.data.action

      p 
        | The functional consequence of this mutation is: 
        b #{action.type}
        | . 
        | Reference (PMID): 
        +references(action.reference)

      hr

    else

      p 
        | The functional consequence of this mutation is: 
        b unknown

    h2 #{data.genesRefx._body.name} - #{data.genesRefx._body.sections.description.data.fullName}

    p #{data.genesRefx._body.sections.description.data.summary}

    hr

    h2 Clinical and Preclinical Studies

    if data.sections.clinical
      - var significances = data.sections.clinical.data.significance
      - var sigTypes = {}
      - significances.forEach(function(s) { sigTypes[s["tumourType"]] = []; });
      - significances.forEach(function(s) { sigTypes[s["tumourType"]].push(s); });
      each sigType, i in sortedTypes
        if sigTypes[sigType]
          h3 #{sigType} - #{(frequencyValues[sigType] * 100).toFixed(2)}%
          each significance, j in sigTypes[sigType]
            p
              em
                | In this tumour type, the clinical significance of this mutation has been examined by
                | #{significance.studyType}
                | clinical trials
            p
              | Comment: 
              | #{significance.comment}
            p
              | Reference (PMID): 
              +references(significance.reference)
              | . 
              | Evidence: 
              | #{significance.levelOfEvidence}
    else
      p 
        | No studies recorded

    hr

    h2 Availability of Investigational Agents

    if data.sections.clinical
      - var agents = data.sections.clinical.data.agents
      if agents.length > 0
        each agent, i in agents
          p
            b #{agent.sensitivity}: 
            | #{agent.name}
    else
      p
        | No agents recorded

    hr

